@use '../custom' as *;

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
     &--intros {
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }
     &--description{
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: none;
    }
}
//Heading Line 
.heading-line::before{
    content: "";
    width:10rem;
    height: 0.2rem;
    display:block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after{
    content: "";
    width:1.75rem;
    height: 0.6rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
    justify-content: center;
    margin-bottom: 1rem;
}

.display-3{
    font-family: sans-serif;
    font-weight: 700;
    text-transform: capitalize;

    font-size: 1.2rem;
    &--title {
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg) {
            font-size: 1.8rem;
        }
       
    }

}
    // BORDER RIGHT STYLING
    .border-right{
        border-right:0.1rem solid $secondary;
        height: 90%;
    }
    .testimonials{

    }
    .getstarted{
        font-family: sans-serif;
    }
